// Color variables
$color-primary: #3260da;
$color-secondary: #3164ed;
$color-white: #fff;
$color-dark: #333;
$color-black: #000;
$color-grey: #e5e5e5;
$color-light-grey: #fafafa;
$color-danger: #ff5200;