.btn {
    padding: .7rem 2rem;
    border-radius: .5rem;

    &--primary {
        background: $color-primary;
        color: $color-white;
    }

    &--white {
        background: $color-white;
        color: $color-primary;
    }

    &--icon {
        display: inline-block;
        margin-left: .5rem;
    }
}