*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    border: unset;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

label {
    display: block;
    margin-bottom: 1rem;
}