body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.7;
    color: $color-dark;
}

.content {
    text-align: justify;
}

.btn {
    font-size: 1.6rem;
    font-family: inherit;
    line-height: 1.7;
}

label {
    font-size: 1.7rem;
    font-weight: 600;
}

input[type="text"] {
   font-size: 1.6rem;
   font-family: "Lato", sans-serif;
   letter-spacing: .1rem;
}