.text {
    font-size: 1.6rem;
    margin-top: 1rem;

    &--bold {
        font-weight: 600;
    }

    &--italic {
        font-style: italic;
    }

    &--primary {
        color: $color-primary;
    }

    &--danger {
        color: $color-danger;
        font-weight: 600;
    }

    &--underline {
        text-decoration: underline;
    }

    &--crossed {
        text-decoration: line-through;
    }

    &--credits {
        display: block;
        margin-bottom: 1rem;
        color: $color-primary;
    }

    &--header {
        display: inline-block;
        position: relative;
        flex-basis: 100%;

        &--header-lg {
            font-size: 2.2rem;
        }

        &--header-sm {
            font-size: 1.8rem;
        }

        &-underline {
            margin-bottom: 1.5rem;

            &::before {
                content: '';
                width: 7rem;
                position: absolute;
                bottom: -.5rem;
                border-bottom: .3rem solid $color-primary;
            }
        }

    }
}

.link-hover {
    text-decoration: underline;

    &:hover {
        text-decoration: underline;
    }
}

.btn--row {
    margin: 1.5rem 0;
}