*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  border: unset; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

a {
  text-decoration: none; }

li {
  list-style: none; }

label {
  display: block;
  margin-bottom: 1rem; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.7;
  color: #333; }

.content {
  text-align: justify; }

.btn {
  font-size: 1.6rem;
  font-family: inherit;
  line-height: 1.7; }

label {
  font-size: 1.8rem;
  font-weight: 600; }

input[type="text"] {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  letter-spacing: .1rem; }

.btn {
  padding: .7rem 2rem;
  border-radius: .3rem; }
  .btn--primary {
    background: #3260da;
    color: #fff; }
  .btn--white {
    background: #fff;
    color: #3260da; }
  .btn--icon {
    display: inline-block;
    margin-left: .5rem; }

.card {
  box-shadow: 0px 0.2rem 1rem #af8f8f;
  padding: 3rem;
  border-radius: .5rem;
  background: #fff; }

input[type="text"] {
  height: 4rem;
  border-bottom: 0.2rem solid #3260da;
  font-weight: 400;
  width: 100%; }
  input[type="text"]:focus {
    border: unset;
    border-bottom: 0.2rem solid #3260da;
    background: #fff;
    outline-color: transparent; }

.form__horizontal:first-child {
  flex-grow: 5;
  margin-right: 1.5rem; }

.form__horizontal:nth-child(2) {
  flex-grow: 1;
  align-self: flex-end; }

.modal {
  padding: 0 3rem 3rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60rem;
  opacity: 0;
  z-index: 15; }
  .modal--open, .modal--close {
    transition: all 500ms ease-in; }
  .modal--open {
    opacity: 1; }
  .modal--close {
    opacity: 0; }
  .modal__header {
    background: #3260da;
    color: #fff;
    margin: 0 -3rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    overflow: hidden;
    padding: 1.5rem 3rem;
    margin-bottom: 1.6rem; }
  .modal__icon {
    color: #fff;
    float: right;
    margin-top: -3.2rem;
    font-size: 2.2rem; }
  .modal__form {
    display: flex; }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #3260da;
  max-width: 100%;
  color: #fff;
  padding: 0 10rem;
  z-index: 5; }
  .header__logo {
    display: inline-block;
    position: relative; }
  .header__img {
    margin-bottom: -5px; }
  .header__text {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    position: relative;
    display: inline-block;
    top: -1.8rem; }
  .header__btn {
    float: right;
    margin-top: 1.5rem; }

.content {
  display: flex;
  flex-wrap: wrap;
  background: url("../../assets/img/background.png");
  background-size: cover;
  height: 100vh;
  padding: 12rem 20rem;
  position: relative; }
  .content__card:not(:last-child) {
    margin-bottom: 3rem; }
  .content__header {
    display: inline-block;
    margin-bottom: 10px;
    position: relative; }
  .content__header::before {
    content: '';
    width: 7rem;
    position: absolute;
    bottom: -.5rem;
    border-bottom: 0.3rem solid #3260da; }
  .content__text {
    margin-top: 1.5rem;
    font-size: 1.6rem; }
  .content__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(51, 51, 51, 0.5);
    z-index: 10;
    display: none; }
