.content {
    display: flex;
    flex-wrap: wrap;
    padding: 11rem 20rem 5.5rem; 
    position: relative;
    background: $color-light-grey;

    &__card:not(:last-child) {
        margin-bottom: 3rem;
    }

    &__footer {
        font-size: 1.6rem;
        font-weight: 600;
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba($color-dark, .5);
        z-index: 10;
        display: none;
    }
}