.content {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    padding: 11rem 20rem; 
    position: relative;
    justify-content: flex-end;

    &__bg {
        background: url('../../assets/img/background.png');
        background-size: cover;
    }

    &__card:not(:last-child) {
        margin-bottom: 3rem;
    }

    &__header {
        display: inline-block;
        position: relative;
    }

    &__footer {
        font-size: 1.6rem;
        font-weight: 600;
    }

    &__text {
        font-size: 1.6rem;
        margin-top: 1rem;
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba($color-dark, .5);
        z-index: 10;
        display: none;
    }
}