.content {
    display: flex;
    flex-wrap: wrap;
    background: url('../../assets/img/background.png');
    background-size: cover;
    height: 100vh;
    padding: 11rem 20rem; 
    position: relative;
    justify-content: flex-end;

    &__card:not(:last-child) {
        margin-bottom: 3rem;
    }

    &__header {
        display: inline-block;
        margin-bottom: 10px;
        position: relative;
    }

    &__header::before {
        content: '';
        width: 7rem;
        position: absolute;
        bottom: -.5rem;
        border-bottom: .3rem solid $color-primary;
    }

    &__footer {
        font-size: 1.6rem;
        font-weight: 600;
    }

    &__text {
        margin-top: 1.5rem;
        font-size: 1.6rem;
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba($color-dark, .5);
        z-index: 10;
        display: none;
    }
}